body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #262626;
    color: #F5F5F5;
    font-size: 13;
    margin: 0px;
    overflow: hidden;
    font-weight: 400;
    box-sizing: border-box;
}

h1 {
    text-align: left;
    margin-top: -2px;
    margin-bottom: 5%;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    background-color: #141414;
    padding-left: 65px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: url('favicon-xsmall.png');
    background-repeat: no-repeat;
    background-position: 28px;
    box-sizing: border-box;
}

h3 {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 4px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    padding-top: 6px;
    font-size: 16;
    width: 55px;
    box-sizing: border-box;
}

h2 {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 4px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    padding-top: 6px;
    font-size: 16;
    box-sizing: border-box;
}

.button-start {
    border: 0px solid #efefef;
    border-radius: 2px;
    background-color: #94D500;
    margin-top: 8px;
    width: 270px;
    height: 30px;
    font-size: 20px;
    text-align: middle;
    padding: .3em;
    color: #262626;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    line-height: 0px;
}

#overwrite {
    margin-bottom: 8px;
    box-sizing: border-box;
}

.button-start:hover {
    background: #82bc00;
    color: #f5f5f5;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(148,213,0,.9);
    box-sizing: border-box;
}

.button-start:focus {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: .3rem;
    background: #94d500;
    color: #f5f5f5;
    box-sizing: border-box;
}

.button-start:focus:active {
    background-image: none;
    outline: 5px;
    box-shadow: none;
    transform: translateY(2px);
    box-sizing: border-box;
}

.button-start:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: progress;
    box-sizing: border-box;
}

.button-browse {
    background-color: #262626;
    color: #262626;
    border: 0px solid #efefef;
    border-radius: 2px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin-left: 0px;
    padding: 6px 12px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 13px;
    color: white;
    background: #262626;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    height: 23px;
    width: 48px;
    box-sizing: border-box;
}

.button-browse:hover {
    background: #262626;
    color: #FF53A0;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(148,213,0,.9);
    box-sizing: border-box;
}

.button-browse:focus {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: .3rem;
    background: #262626;
    color: #ffffff;
    box-sizing: border-box;
}

.button-browse:focus:active {
    background-image: none;
    outline: 5px;
    box-shadow: none;
    transform: translateY(2px);
    box-sizing: border-box;
}

.button-browse:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: progress;
    box-sizing: border-box;
}

.content {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11;
    padding-top: 0px;
    font-weight: 400;
    margin: 0;
    padding-left: 8%;
    height: 60%;
    margin-top: -8px;
    box-sizing: border-box;
}

.path-input {
    width: 275px;
    height: 30px;
    background-color: #000000;
    border: 0px solid #262626;
    border-radius: 3px;
    color: #FF53A0;
    text-indent: 1%;
    background-position: left center;
    margin-bottom: 11px;
    margin-left: 2%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14;
    font-weight: 700;
    box-sizing: border-box;
}

.path-input:focus {
    border-color: #94D500;
    border-radius: 3px;
    border-width: 1px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    box-sizing: border-box;
}

.text-input {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #8c8c8c;
    text-transform: uppercase;
    font-size: 14;
    text-indent: 11PX;
    margin-bottom: 8px;
    float: none;
    padding-top: 0px;
    box-sizing: border-box;
}

.text-input input:focus {
    border-color: #94D500;
    border-radius: 2;
    border-width: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    box-sizing: border-box;
}

.text-input input {
    width: 75px;
    height: 20px;
    background-color: #000000;
    position: absolute;
    margin-top: 0px;
    border: 0px solid #262626;
    border-radius: 2px;
    color: #FF53A0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14;
    left: 281px;
    font-weight: 700;
    text-indent: 3%;
    box-sizing: border-box;
}

.settings-container {
    text-align: left;
    left: 16px;
    box-sizing: border-box;
}

.checkbox-title {
    font-size: 22px;
    box-sizing: border-box;
}

/* Styling Checkbox Starts */
.checkbox-label {
    position: relative;

    /* margin: auto */
    cursor: pointer;
    line-height: 34px;

    /* height: 34px */
    width: 200px;
    clear: both;

    /* margin-top: 2px */
    padding-top: 2px;
    display: inline;
    box-sizing: border-box;
}

.checkbox-label input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: -2px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    box-sizing: border-box;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #009BFF;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
    box-sizing: border-box;
}

.checkbox-container {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #39C1DE;
    font-weight: 700;
    text-indent: 10px;
    font-size: 14.5;
    width: 12em;
    padding-bottom: 2px;
    padding-top: 2px;
    float: left;
    overflow-x: hidden;
    flex-direction: column;
    box-sizing: border-box;
}

.checkbox-container:hover {
    background: #373737;
    color: #f5f5f5;
    cursor: pointer;
    box-sizing: border-box;
}

.checkbox-container-edit {
    margin-top: 0px;
    margin-bottom: 7px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #39C1DE;
    font-weight: 700;
    text-indent: 10;
    font-size: 14.5;
    padding-right: 0px;
    width: 12em;
    float: left;
    padding-bottom: 2px;
    padding-top: 2px;
    box-sizing: border-box;
}

.checkbox-container-edit:hover {
    background: #373737;
    color: #f5f5f5;
    cursor: pointer;
    box-sizing: border-box;
}

.progress {
    width: 100%;
    background-color: #111111;
    height: 4px;
    margin-top: 15px;
    box-sizing: border-box;
}

.progress[value] {
    appearance: none;
    background-color: #111111;
    box-sizing: border-box;
}

.progress::-webkit-progress-bar {
    border-radius: 2px;
    background-color: #000000;
    box-sizing: border-box;
}

.progress::-webkit-progress-value {
    background-color: #82bc00;
    border-radius: 2px;
    box-sizing: border-box;
}

.progress::-moz-progress-bar {
    background-color: #82bc00;
    border-radius: 2px;
    box-sizing: border-box;
}

.progression {
    text-align: center;
    margin-top: -18px;
    margin-bottom: 0px;
    color: #8c8c8c;
    font-weight: 400;
    background-color: #000000;
    padding-bottom: 18px;
    padding-top: 14px;
    height: 54px;
    box-sizing: border-box;
}

.bottom-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 14px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8C8C8C;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #39C1DE;
}

input:focus + .slider {
    box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle {
    left: 282px;
    position: absolute;
    top: 319px;
    width: 100px;
}

.id3 {
    left: 240px;
    position: absolute;
    top: 319px;
    width: 200px;
    font-size: 11;
}

.help {
    left: 294px;
    position: absolute;
    top: 27px;
    width: 100px;
}

a {
    color: #39C1DE;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: #FF53A0;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 8%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #333333;
    color: #f2f2f2;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 0;
    border: 0px solid #2a2a2a;
    width: 85%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: normal;
}

.close:hover,
.close:focus {
    color: #39C1DE;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 16px;
    margin-top: 20px;
    background-color: #2a2a2a;
    color: #ffffff;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.modal-footer {
    padding: 2px 16px;
    margin-top: 20px;
    background-color: #2a2a2a;
    color: #ffffff;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.modal-body {
    padding: 2px 16px;
    font-family: 'Roboto', sans-serif;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
	-moz-user-select: all;
	-webkit-user-select: all;
	-ms-user-select: all;
	user-select: all;
}