body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #1A1A1A;
    color: #F5F5F5;
    font-size: 13;
}

h1 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

button {
    background-color: #94D500;
    color: #262626;
    border: 0px solid #efefef;
    border-radius: 2px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin-left: 0px;
    padding: 6px 12px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 13px;
    color: #262626;
    background: #94d500;
    text-transform: uppercase;
    text-align: center;
    transition: background .2s;
}

button:hover {
    background: #82bc00;
    color: #f5f5f5;
    cursor: pointer;
}

.content {
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: #8C8C8C;
    font-size: 11;
    background-color: #2a2a2a;
    border-radius: 20px;
    padding: 3% 5%;
    font-weight: 300;
}

.path-input {
    width: 256px;
    height: 20px;
    background-color: #000000;
    border: 0px solid #efefef;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FF53A0;
    border-radius: 0px;
    font-weight: 400;
    font-size: 14;
    text-indent: 1%;
    background-position: left center;
}

.text-input {
    margin-top: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #F5F5F5;
    text-transform: uppercase;
    font-size: 13;
    text-indent: 5PX;
}

.text-input input {
    width: 80px;
    height: 16px;
    background-color: #000000;
    border: 0px solid #efefef;
    border-radius: 2px;
    color: #FF53A0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
    position: absolute;
    margin-top: 2px;
    left: 275px;
    font-weight: 700;
    text-indent: 3%;
}

.text-input input::-webkit-outer-spin-button,
.text-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text-input input[type=number] {
    -moz-appearance: none;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.settings-container {
    text-align: left;
    left: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #39C1DE;
    text-indent: 5PX;
}

.checkbox-title {
    font-size: 22px;
}

/* Styling Checkbox Starts */
.checkbox-label {
    position: relative;
    margin: auto;
    cursor: pointer;
    line-height: 34px;
    height: 34px;
    width: 200px;
    clear: both;
}

.checkbox-label input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: -2px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #FFFFFF;
}

.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid #FFFFFF;
}

.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #009BFF;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

.checkbox-container {
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #39C1DE;
    font-weight: 400;
    text-indent: 5px;
    font-size: 16;
}

.checkbox-container:hover {
    background: #373737;
    color: #f5f5f5;
    cursor: pointer;
}

.start-button {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 128px;
    font-size: 24px;
}

.progress {
    width: 60%;
    background-color: #111111;
    height: 5px;
    /* color: #00000; */
}

.progress[value] {
    appearance: none;
    background-color: #111111;
}

.progress::-webkit-progress-bar {
    border-radius: 2px;
    background-color: #000000;
}

.progress::-webkit-progress-value {
    background-color: #FF53A0;
    border-radius: 2px;
}

.progress::-moz-progress-bar {
    background-color: #FF53A0;
    border-radius: 2px;
}