body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #1A1A1A;
    color: #F5F5F5;
    font-size: 13;
    margin: 0px;
}

h1 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 7%;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    background-color: #000000;
    padding-left: 72px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-image: url('favicon.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 27px;
}

h2 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    padding-top: 13px;
}

button {
    background-color: #94D500;
    color: #262626;
    border: 0px solid #efefef;
    border-radius: 2px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin-left: 0px;
    padding: 6px 12px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 13px;
    color: #262626;
    background: #94d500;
    text-transform: uppercase;
    text-align: center;
    transition: background .2s;
    height: 28px;
}

button:hover {
    background: #82bc00;
    color: #f5f5f5;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(148,213,0,.9);
}

button:focus {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: .3rem;
    background: #94d500;
    color: #f5f5f5;
}

button:focus:active {
    background-image: none;
    outline: 5px;
    box-shadow: none;
    transform: translateY(2px);
}

button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: progress;
}

.content {
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: #8C8C8C;
    font-size: 11;
    background-color: #2a2a2a;
    border-radius: 20px;
    padding-top: 10px;
    font-weight: 300;
    margin: 7%;
    padding-left: 5%;
    height: 483px;
}

.path-input {
    width: 225px;
    height: 20px;
    background-color: #000000;
    border: 0px solid #efefef;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FF53A0;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14;
    text-indent: 1%;
    background-position: left center;
    margin-bottom: 10px;
}

.text-input {
    margin-top: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #cccccc;
    text-transform: uppercase;
    font-size: 13;
    text-indent: 11PX;
    margin-bottom: 6px;
}

.text-input input {
    width: 80px;
    height: 20px;
    background-color: #000000;
    position: absolute;
    margin-top: 0px;
    border: 0px solid #efefef;
    border-radius: 3px;
    color: #FF53A0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    left: 270px;
    font-weight: 700;
    text-indent: 3%;
}

.text-input input[type=number] {
    -moz-appearance: none;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.settings-container {
    text-align: left;
    left: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #39C1DE;
}

.checkbox-title {
    font-size: 22px;
}

/* Styling Checkbox Starts */
.checkbox-label {
    position: relative;
    margin: auto;
    cursor: pointer;
    line-height: 34px;
    height: 34px;
    width: 200px;
    clear: both;
}

.checkbox-label input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: -2px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #FFFFFF;
}

.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid #FFFFFF;
}

.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #009BFF;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

.checkbox-container {
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #39C1DE;
    font-weight: 400;
    text-indent: 10px;
    font-size: 16;
    width: 11em;
}

.checkbox-container:hover {
    background: #373737;
    color: #f5f5f5;
    cursor: pointer;
}

.checkbox-container-edit {
    margin-top: 0px;
    margin-bottom: 4px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #39C1DE;
    font-weight: 400;
    text-indent: 10;
    font-size: 16;
    padding-right: 18px;
    width: 9em;
    float: left;
}

.checkbox-container-edit:hover {
    background: #373737;
    color: #f5f5f5;
    cursor: pointer;
}

.start-button {
    margin-top: 0px;
    margin-bottom: 14px;
    width: 270px;
    height: 36px;
    font-size: 20px;
    text-align: middle;
    padding: .3em;
}

.start-button:focus:active {
    background-image: none;
    outline: 0;
    box-shadow: none;
}

.progress {
    width: 100%;
    background-color: #111111;
    height: 5px;
    margin-top: 15px;

    /* color: #00000; */
}

.progress[value] {
    appearance: none;
    background-color: #111111;
}

.progress::-webkit-progress-bar {
    border-radius: 2px;
    background-color: #000000;
}

.progress::-webkit-progress-value {
    background-color: #39C1DE;
    border-radius: 2px;
}

.progress::-moz-progress-bar {
    background-color: #39C1DE;
    border-radius: 2px;
}

.progression {
    text-align: center;
    margin-top: -18px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #8c8c8c;
    font-weight: 400;
    background-color: #000000;
    padding-bottom: 18px;
    padding-top: 21px;
    height: 25px;
}

.bottom-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

